mixin createPostForm(userLoggedIn)
    .postFormContainer
        .imageFormContainer
            img(src=userLoggedIn.profilePic, alt="User's profile pic")
        .textareaContainer
            textarea#postTextarea(placeholder="whate is happening?")
            
            .buttoncontainer
                button#submitPostbutton(disabled="") Post
                
        