extends layout/register-layout.pug

block content
    .logincontainer
        h1 Register
        form#registerForm(method="post")
            p.errorMassage #{errorMassage}
            input(type="text", name="firstName",placeholder="firstname",required="true")
            input(type="text", name="lastName",placeholder="lastname",required="true")
            input(type="text", name="userName",placeholder="username") 
            input(type="email", name="email",placeholder="email",required="true")
            input#password(type="password", name="password",placeholder="password",required="true")
            input#conformpassword(type="password", name="conformpassword",placeholder="password",required="true")
            input(type="submit", value="register")
        a(href="/login") Login

    script.
            const paasswordfeild = document.getElementById("password");
            const conformpaasswordfeild = document.getElementById("conformpassword");
            const form = document.getElementById("registerForm");

            funcion validateform(){
                if(paasswordfeild.value != conformpaasswordfeild.value){
                    alert("password do not match");
                }
                else{
                    form.submit();
                }
            }
           
    
    

